<h1 align="center">Listing all articles</h1>

<div align="center">
  <%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>
<div align="center">
  <%= will_paginate %>
</div>

      <div class='listing-tools'>
          <div class='search col-md-6'>
              <div class='search-header'>
               
                <div class='search-tags'></div>
              </div>


              <form class='search-form' method='get'>
                <div class='search--item'>
                  <span>endereço</span>
                  <input type='text' name='adress'></input>
                </div>
                <div class='search--item'>
                  <span>usuario</span>
                  <input type='text' name='username'></input>
                </div>
                <div class='search--submit'>
                  <input type='submit' class='btn btn-raised btn-success btn-xs' value='Buscar' />
                  <button class='btn btn-raised btn-xs clear-search' value='Limpar' />Limpar</button>
                </div>
              </form>
            </div>
      </div>

